@using Online_Ticari_Otomasyon.Models.Siniflar
@model List<SatisHareket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<div style="margin-top:30px"></div>
<table  class="table table-bordered" style="margin-top:30px; margin-left:20px;width:1080px;">
   
        <tr style="background-color:maroon; color:white;">
            <th>ÜRÜN ADI</th>
            <th>MÜŞTERİ</th>
            <th>PERSONEL</th>
            <th>ADET</th>
            <th>FİYAT</th>
            <th>TOPLAM</th>
            <th>TARİH</th>
            <th>GÜNCELLE</th>
            <th>DETAYLAR</th>
        </tr>
    
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Urun.UrunAd</td>
            <td>@x.Cariler.CariAd @x.Cariler.CariSoyad</td>
            <td>@x.Personel.PersonelAd @x.Personel.PersonelSoyad</td>
            <td>@x.Adet</td>
            <td>@x.Fiyat</td>
            <td>@x.ToplamTutar</td>
            <td>@Convert.ToDateTime(x.Tarih).ToString("dd/MM/yyyy")</td>
            <td><a href="/Satis/SatisGetir/@x.SatisID" class="btn btn-default" style="background-color:orangered;color:white; ">Güncelle</a></td>
            <td><a href="/Satis/SatisDetay/@x.SatisID" class="btn btn-default" style="background-color:purple;color:white; ">Detaylar</a></td>
        </tr>
    }
</table>








